/* index.html */
.jumbotron {
    height: 175px;
    background-image: url("graphs.jpg");
}

#bigtalk{
    color: white;
}

/* signup.html */
#form{
    padding-top: 65px;
}

/* set icon sizes in exchange.html */
.icons{
    height:50px;
    width:50px
}